.tiptap p.is-editor-empty:first-child::before {
  color: #adb5bd;
  content: attr(data-placeholder);
  float: left;
  height: 0;
  pointer-events: none;
}

.ProseMirror-focused {
  outline: none;
}

.tiptap {
  :first-child {
    margin-top: 0;
  }

  p {
    font-size: 1.1rem;
    line-height: 1.8rem;
  }

  ul,
  ol {
    padding: 0 1rem;
    margin: 1.25rem 1rem 1.25rem 0.4rem;

    li p {
      margin-top: 0.25em;
      margin-bottom: 0.25em;
    }
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    line-height: 1.3;
    font-weight: 700;
    margin-top: 0.3em;
    margin-bottom: 0.3em;
  }

  h1 {
    font-size: 2.2rem;
  }

  h2 {
    font-size: 1.8rem;
  }

  h3 {
    font-size: 1.5rem;
  }

  h4,
  h5,
  h6 {
    font-size: 1.2rem;
  }

  code {
    background-color: #e0e0e0;
    border-radius: 0.4rem;
    font-size: 0.9rem;
    padding: 0.3em 0.5em;
  }

  pre {
    background: #1a1a1a;
    border-radius: 0.5rem;
    color: #ffffff;
    font-family: "JetBrainsMono", monospace;
    margin: 1.5rem 0;
    padding: 0.75rem 1rem;

    code {
      background: none;
      color: #ffffff;
      font-size: 0.8rem;
      padding: 0;
    }
  }

  mark {
    background-color: #faf594;
    border-radius: 0.4rem;
    box-decoration-break: clone;
    padding: 0.1rem 0.3rem;
  }

  blockquote {
    border-left: 3px solid #e0e0e0;
    margin: 1.5rem 0;
    padding-left: 1rem;
  }

  hr {
    border: none;
    border-top: 1px solid #e0e0e0;
    margin: 2rem 0;
  }
}
